body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #009c3b, #002776);
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 50px;
  margin-bottom: 30px;
  color: #ffdf00; /* Amarelo */
  font-weight: bold;
}

input {
  width: 450px;
  padding: 14px 25px;
  border-radius: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: white;
  color: black;
  transition: all 0.2s ease;
}

input:focus {
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.botoes {
  margin-top: 20px;
}

button {
  padding: 12px 25px;
  margin: 5px;
  border: none;
  border-radius: 30px;
  background-color: #ffdf00; /* Amarelo */
  color: #002776; /* Azul */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: white;
  color: #009c3b;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#mensagem {
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
}
