name: QA Automation CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar dependências
        run: npm ci

      - name: Instalar Playwright
        run: npx playwright install --with-deps

      - name: Instalar servidor estático
        run: npm install -g serve

      - name: Subir aplicação
        run: |
          serve app -l 3000 &
          sleep 5

      - name: Rodar testes
        run: npx codeceptjs run --steps
